/* PICKER SECTION STYLE */
.section__menu__title {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #707880;
  opacity: 1;
}

.section__menu__list {
}
.section__menu__item {
  text-align: start;
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #e9eff2;
  cursor: pointer;
}
.section__menu__detail > h1 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #1a1a1a;
  opacity: 1;
  margin: 0 0 8px 0;
}

.section__menu__detail > p {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #707880;
  opacity: 1;
}

.component__image {
  width: 48px;
  height: 48px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 4px 20px #a0b8c789;
  border-radius: 4px;
  opacity: 1;
  margin-right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 25px;
  width: 25%;
  height: 100%;
  background: #f9fbfc;
  box-shadow: 1px 1px 1px #00000029;
  opacity: 1;
  font-family: "Figtree", sans-serif;
}
.section__top {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}

/* CANVAS SECTION STYLE */
.canvas__screen {
  font-family: "Figtree", sans-serif;
  position: relative;
  height: 100%;
  width: 100%;
}

.canvas__empty__screen {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0px;
  color: #d5dbdd;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas__screen__header {
  height: 64px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 0px 0px #fcfcfc03;
  border-bottom: 1px solid #e9eff2;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 24px 32px;
}
.canvas__screen__header > h1 {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0px;
  color: #1a1a1a;
}
.canvas__screen__editor {
  height: calc(100% - 64px);
  width: 100%;
  position: relative;
}

.element__box {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 0 18px 0 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.element__box:hover {
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.116);
}
.element__box:hover > .delete__icon {
  display: flex !important;
  margin-left: auto;
}

/* .element__box:hover > .dnd__icon {
  display: flex !important;
  margin-left: auto;
} */

.delete__icon,
.dnd__icon {
  display: none !important;
}
